@charset "utf-8";

.main-body {
  padding-bottom: 100px;
  background-image: linear-gradient(111.4deg, rgba(238, 113, 113, 1) 1%, rgba(246, 215, 148, 1) 58%);
}

.alc-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alc-card {
  display: inline-block;
  margin-top: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  width: 40%;
  max-width: 500px;
  min-width: 360px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .alc-card-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 24px;
    border: 2px solid #888;
    border-radius: 8px;
    margin-bottom: 10px;
  }
}

.alc-card-left,
.alc-card-right {
  width: 50%;
}

.alc-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.price-mark {
  margin-left: -14px;
  margin-right: 4px;
}

.data-block {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  width: 70%;
  margin: 40px auto 0;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.data-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-select {
  border: 1px solid #888;
  padding: 2px;
  border-radius: 4px;
}

.image-area {
  border: 8px solid #552301d9;
  overflow-x: scroll;
  width: 230px;
  height: 415px;
  margin-top: 20px;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;

  ul {
    display: flex;
    gap: 10px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      width: 100%;
    }
  }
}

.gomibako-btn {
  border-radius: 4px;
  background-color: #f74141;
  display: inline-block;

  button {
    display: block;
    padding: 4px;
    color: #eeeeee;
    font-weight: bold;
  }
}

.btns {
  display: flex;
  justify-content: center;
  gap: 50%;
}

.restore-btn {
  border-radius: 8px;
  background-color: #1ba8ff;
  display: inline-block;

  a {
    display: block;
    padding: 4px;
    color: #eeeeee;
    font-weight: bold;
  }
}

.side-bar {
  position: fixed;
  top: 100px;
  left: 40px;
  width: 200px;
  padding: 8px;
}

.create-btn {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
  transition: all .3s;

  a {
    display: block;
    background-color: #0051ff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 100vh;
    padding: 12px 4px;
  }

  :hover {
    background-color: #3a78ff;
  }
}

.serch-area {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  padding: 10px;
}

.refine-serch-area {
  margin-top: 40px;
}

.editP-image {
  position: relative;
}

.editP-deleteBtn {
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #fff;
  border: 2px solid tomato;
  color: tomato;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 4px;
}

.image-cards {
  margin-top: 40px;
}

.image-card {
  width: 50%;
  max-width: 800px;
  min-width: 360px;
  margin: 20px auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  p {
    font-size: 20px;
    margin-top: 20px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(150px);
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;

    li {
      width: 150px;
      height: 150px;
      border: 1px solid #d7d7d7;
      padding: 10px;
      overflow: hidden;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}