@charset "utf-8";

.main-body {
  padding-bottom: 100px;
  background-image: linear-gradient(111.4deg, rgba(238, 113, 113, 1) 1%, rgba(246, 215, 148, 1) 58%);
}

.alc-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alc-card {
  display: inline-block;
  margin-top: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  width: 40%;
  max-width: 500px;
  min-width: 360px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .alc-card-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 24px;
    border: 2px solid #888;
    border-radius: 8px;
    margin-bottom: 10px;
  }
}

.alc-card-left,
.alc-card-right {
  width: 50%;
}

.alc-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.price-mark {
  margin-left: -14px;
  margin-right: 4px;
}

.data-block {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  width: 70%;
  margin: 40px auto 0;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.data-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-select {
  border: 1px solid #888;
  padding: 2px;
  border-radius: 4px;
}

.image-area {
  border: 8px solid #552301d9;
  overflow-x: scroll;
  width: 240px;
  height: 427px;
  margin-top: 20px;
  padding: 1px;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;

  ul {
    display: flex;
    gap: 10px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      width: 100%;
    }
  }
}

.gomibako-btn {
  border-radius: 4px;
  background-color: #f74141;
  display: inline-block;

  button {
    display: block;
    padding: 4px;
    color: #eeeeee;
    font-weight: bold;
  }
}

.btns {
  display: flex;
  justify-content: center;
  gap: 50%;
}

.restore-btn {
  border-radius: 8px;
  background-color: #1ba8ff;
  display: inline-block;

  a {
    display: block;
    padding: 4px;
    color: #eeeeee;
    font-weight: bold;
  }
}

.serch-area {
  width: 200px;
  height: 600px;
  position: fixed;
  top: 100px;
  left: 40px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.editP-image{
  position: relative;
}

.editP-deleteBtn{
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #fff;
  border: 2px solid tomato;
  color: tomato;
  font-weight: bold;
  padding:2px 4px;
  border-radius: 4px;
}


/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}